html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  background-image: url(./core_images/wallpaper-table.png);
  font-family: "Gill Sans", sans-serif;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 20px;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-color: black;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
  box-shadow: 2px 2px 2px 0px gray;
  font-weight: bold;
  background-image: url(./core_images/white.png);
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  font-weight: bold;
  background-color: #008183;
  text-decoration: none;
  background-image: url(./core_images/white.png);
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #444;
  box-shadow: 2px 2px 2px 2px gray;
  background-image: url(./core_images/white.png);
  font-weight: bold;
}

.btn_asLink:hover {
  font-weight: bold;
  color: rgb(15, 5, 210);
  box-shadow: 2px 2px 2px 2px gray;
  background-image: url(./core_images/white2.png);
}

.btn_asSubmit:hover {
  font-weight: bold;
  color: green;
  box-shadow: 2px 2px 2px 2px gray;
  background-color: white;
  background-image: url(./core_images/white2.png);
}

.btn_asCancel:hover {
  font-weight: bold;
  color: red;
  box-shadow: 2px 2px 2px 2px gray;
  background-image: url(./core_images/white2.png);
}
.viewbtn{
  align-items: right;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

input {
  margin: 5px;
  margin-bottom: 10px;
}

.displayTable {
  max-width: 1080px;
}

.tableBody {
  border: solid black 0px;
}

.tableCellLeft {
  border: solid black 0px;
  width: 18%;
}

.tableCellRight {
  border: solid black 0px;
  margin: 5px;
}

.infoCell {
  border: solid black 0px;
  padding-left: 50%;
  padding-right: 50%;
}

.leftTable {
  height: 415px;
  border: solid black 1px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 20px;
  box-shadow: 0px 0px 5px 5px rgb(90, 69, 41);
  min-width: 125px;
  max-width: 125px;
  border-radius: 10px;
  overflow: auto;
  background-image: url(./core_images/paper.jpeg);
  font-weight: bold;
  font-family: "Gill Sans", sans-serif;
  font-size: 14px;
}

.rightTable {
  height: 450px;
  border: solid black 1px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  box-shadow: 0px 0px 5px 5px rgb(90, 69, 41);
  max-width: 860px;
  border-radius: 10px;
  overflow: auto;
  background-image: url(./core_images/paper.jpeg);
  font-weight: bold;
  font-family: "Gill Sans", sans-serif;
  font-size: 16px;
}

.infoTable{
  height: 450px;
  border: solid black 1px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  box-shadow: 0px 0px 5px 5px rgb(90, 69, 41);
  max-width: 860px;
  border-radius: 10px;
  overflow: auto;
  background-image: url(./core_images/paper.jpeg);
  font-weight: bold;
  font-family: "Gill Sans", sans-serif;
  font-size: 16px;
}

.viewButtonRow {
  height: 65px;
}

.viewContentRow {
  height: 350px;
}
.notFound{
  margin-top: 15%;
  margin-bottom: 20%;
  color: white;
}

.introTitle{
  text-align: center;
  font-size: 22px;;
}

.introView{
  text-align: center;
}

.about {
  text-align: justify;
  font-size: 17px;
}

.contact {
  text-align: center;
  font-size: 22px;
}

.profileLeft {
  text-align: right;
  font-size: 20px;
}

.profileRight {
  text-align: left;
  font-size: 20px;
}

.dateButton{
  font-weight: bold;
  font-size: 16px;
}

.imageReducer {
  box-shadow: 3px 3px 3px 2px gray;
  border: solid black 2px;
  width: 170px;
  background-color: white;
}

.MuiTableCell-root{border-bottom: none !important; }