.cardDisplay {
    border: solid black 2px;
    height: 300px;
    max-width: 600px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 5px 5px 5px 0px gray;
}


.headerLeft {
    width: 200px;
}
.headerRight {
    width: 400px;
    
}
.bodyLeft {
    width: 200px;
    align-items: center;
}
.bodyRight {
    width: 400px;
    overflow: auto;
    font-size: 10px;
}

.imageReducer {
    box-shadow: 2px 2px 2px 0px gray;
    border: solid black 2px;
    width: 170px;
}

.btn_asSubmit:hover {
    background-color: transparent;
    border-color: green;
    color: green;
    box-shadow: 2px 2px 2px 2px gray;
  }
  
  .btn_asCancel:hover {
    background-color: transparent;
    border-color: red;
    color: red;
    box-shadow: 2px 2px 2px 2px gray;
  }

  .btn {
    display: inline-block;
    border-color: #014041;
    border-width: 1px 1px 3px;
    border-radius: 4px;
    background-color: #00acb0;
    color: #f8f8f8;
    font-size: 1.1rem;
    outline: 0;
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px gray;
  }